
<div class="card text-center" style="width: 250px"> 
  <div class="card-body"> 
    <h1 class="display-3"><%= @past_project.title %></h1>
    <img class="img-fluid" <%=image_tag(@past_project.image_path)%>
    <p><%= @past_project.description%></p>
  </div>
</div>