
<div class="container" style="margin: 5%">
  <h1 class="display-5"><%= @past_project.title %></h1>
  <p class="lead"><%= @past_project.description %></p>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= render partial: "shared/past_project_photo_carousel" %>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
</div>
