  
  <div id="carouselPastProjectPhotos" class="carousel slide" style= "width:400px" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height:560px" <%=image_tag(@past_project.past_project_photo.first.path)%>
    </div>
    <% @past_project.past_project_photo.drop(1).each do |past_project_photo| %>
      <div class="carousel-item">
        <img style="height:560px" <%=image_tag(past_project_photo.path)%>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPastProjectPhotos" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPastProjectPhotos" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>