

<img class="img-fluid" <%=image_tag("banner.jpg")%>

<div class="card text-center" style="width: auto"> 
  <div class="card-body"> 
    <h1 class="display-3">Sewed By Shasta</h1>
    <p>Custom garment making and alterations.</p>
    <a href="#" class="btn btn-primary">Find out more</a> 
  </div>
</div>


